body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#welcome {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-section {
    color: rgb(58, 38, 38);
    padding: 20px;
    border-radius: 10px;
}

.nav-bar {
    background-color: rgba(226, 211, 211, 0.7);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;  

}